.flex-item {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  overflow: auto;
}

.left-item {
  margin-right: 0.6rem;
}

.right-item img {
  display: block;
  max-width: 250px;
  width: 100%;
  height: auto;
}
