.flex-item {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.left-item {
  margin-right: 0.6rem;
}

.right-item {
  width: 50%;
  margin: auto;
}

.right-item img {
  display: block;
  width: 100%;
  height: auto;
}
