<div class="content">
  <h1>Home</h1>
  <mat-card>
    <h2>Welcome to my website!</h2>
    <mat-card-content>
      <pre>Hi, my name is Prasham Shah, and I welcome you to my website! I am {{ getAge() }} and am {{ getGrade() }}. I enjoy reading and programming among other things. I have coded this website from scratch using Angular and Firebase. On this website you can learn about me as well as read my blogs which I will be posting regularly. To learn more about me, please visit the <a routerLink="/about" class="link">about page</a>. If you wish to read my blogs, please visit the <a routerLink="/blog" class="link">blog page</a>.</pre>
    </mat-card-content>
  </mat-card>
</div>
